<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ipcountry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F10DCC11D0BE7DA00D03A87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F10DCD01D0BE7DA00D03A87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F10DCDB1D0BE7DA00D03A87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
